.CardContainer {
  width: 100%;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
}
.CardsHolder {
  width: 90%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  min-height: max-content;
  gap: 20px;
  display: flex;
  justify-content: space-between;
}

.cards {
  width: 30%;
  height: 70vh;
  background-color: rgb(34, 70, 101);
  color: white;
  padding: 20px;
  gap: 20px;
  display: flex;
  flex-direction: column;

  img {
    width: 100%;
    height: 60%;
    object-fit: cover;
  }

  h3 {
    color: red;
  }
}
.Loading {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: red;
}
